<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장애인 취업 지원 사이트</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header>
        <h1>장애인 취업 지원 사이트</h1>
    </header>
    <main>
        <button class="user-type-btn" id="login-btn" onclick="location.href='login' ">로그인</button>
        <button class="user-type-btn" id="signup-btn" onclick="location.href='signup' ">회원가입</button>
    </main>
    <footer>
        <p>&copy; 장애인 취업 지원 사이트</p>
    </footer>
</body>
</html>
