body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
    text-align: center;
}

header {
    text-align: center;
    background-color: #007bff;
    color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

header h1 {
    margin: auto;
    font-size: 2rem;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

button {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 40%;
    padding: 10%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.back-button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.8;
}
